<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SUAVE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-row>
  <ion-col>
    <ion-item>
      <input placeholder="Pokemon?" class="input" [(ngModel)]="pokemonName">
    </ion-item>
    <button (click)="getPokemonDataName(pokemonName)">Buscar por nombre</button>
    <div class="card">
      <div class="tools">
        <div class="circle">
          <span class="red box"></span>
        </div>
        <div class="circle">
          <span class="yellow box"></span>
        </div>
        <div class="circle">
          <span class="green box"></span>
        </div>
      </div>
      <div class="card__content" *ngIf="pokemonNameResult">
        <img [src]="pokemonNameResult.sprites.front_default" />
        <h2>{{ pokemonNameResult.name }}</h2>
        <h2>ID: {{ pokemonNameResult.id }}</h2>
        <h2>Tipo: {{pokemonType}}</h2>
      </div>
    </div>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
